body {
  font-family: "Libre Baskerville", serif;
  background-color: black;
  color: white;
}
.image-h1-p {
  width: 50%;
  margin-left: 25%;
  text-align: center;
}
img {
  width: 100%;
  border: 5px solid white;
}
h1 {
  text-transform: uppercase;
}
